---

application:
  audience: [audience]
  client-origin-url: http://localhost:4040

com:
  auth0:
    domain: [domain]
    clientId: [clientid]
    clientSecret: [clientSecret]


auth0:
  management:
    api:
      get:
        actions:
              url: https://[domain]/api/v2/actions/actions

server:
  error:
    whitelabel:
      enabled: false
  port: 6060

spring:
  mvc:
    throw-exception-if-no-handler-found: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://[domain]/
  web:
    resources:
      add-mappings: false

...
